<div class="card card-deck " style="width: 18rem;">
  <img src="{{bookItem.image}}" class="card-img-top" alt="{{bookItem.title}}">
  <div class="card-body">
    <h5 class="card-title " style="height: 20px">{{bookItem.title}}</h5>
    <h6 class="card-subtitle mb-2 text-muted">{{bookItem.author}}</h6>
    <p class="card-text text-muted overflow-auto" style="height: 300px">{{bookItem.summary}}</p>
    <h6 class="card-subtitle mt-2 float-end">Price: {{bookItem.price.displayValue}}</h6>
  </div>
</div>
